<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss,SSS} [%t %-5p] %m%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="errorAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/error.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss,SSS} [%t %-5p] %m%n" />
		</layout>
	</appender>

	<appender name="bussinessAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/bussiness.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss,SSS} [%t %-5p] %m%n" />
		</layout>
	</appender>

	<appender name="frameworkAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/framework.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss,SSS} [%t %-5p] %m%n" />
		</layout>
	</appender>
	<!-- 本系统非正常异常,最低只记录ERROR等级 -->
	<logger name="tc.errorLog" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="errorAppender" />
	</logger>
	<!-- 本系统正常业务异常 -->
	<logger name="tc.businessLog" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="bussinessAppender" />
	</logger>

	<!-- 非本系统内,其他jar包的框架异常 -->
	<logger name="tc.frameworkLog" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="frameworkAppender" />
	</logger>

	<!-- 根logger的设置 -->
	<root>
		<priority value="ERROR" />
		<appender-ref ref="frameworkAppender" />
	</root>
</log4j:configuration>